<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>RANARE - Lloguer de Cotxes</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <!-- Enlace a CSS personalizado -->
        <link rel="stylesheet" href="/CSS/crearVehicleStyle.css">
        <!-- CSS de Select2 -->
        <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
        <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- JS de Select2 -->
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    </head>
    <body>
        <!-- Encabezado -->
        <div class="header d-flex justify-content-between align-items-center p-3">
            <h1>RANARE</h1>
            <div class="nav-links">
                <a href="/admin/vehicles" class="btn btn-secondary">Administrar Vehicles</a>
            </div>
            <div>
                <span class="text-white">Hola Admin!</span>
            </div>
        </div>

        <!-- Formulari Crear/Modificar Vehicles -->
        <div class="container my-5">
            <h2 class="text-primary">CREAR / MODIFICAR VEHICLES</h2>
        </div>
        <!-- Mensaje flash -->
        <div th:if="${message}" class="alert alert-success" role="alert">
            <p th:text="${message}"></p>
        </div>
        <form th:action="@{/crear-vehicle}" th:object="${vehicle}" method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="nomVehicle">Nom vehicle <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="nomVehicle" placeholder="Nom del vehicle" th:field="*{nomVehicle}" required minlength="3">
                </div>
                <div class="form-group col-md-6">
                    <label for="matricula">Matrícula <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="matricula" placeholder="Matrícula" th:field="*{matricula}" required pattern="[A-Z0-9]{7}" th:readonly="${vehicle.matricula != null}">
                    <small class="form-text text-muted">(El format ha de ser de 4 números i tres lletres majúscules al final. Ex: 4895KMR)</small>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="tipus-combustio">Tipus de combustió <span class="text-danger">*</span></label>
                    <select class="form-control" id="tipus-combustio" th:field="*{combustio}" required>
                        <option value="">Selecciona un tipus de combustió</option>
                        <option value="ELECTRIC">Elèctric</option>
                        <option value="HIBRID">Híbrid</option>
                        <option value="GASOIL">Gasoil</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="tipusTransmissio">Tipus de transmissió <span class="text-danger">*</span></label>
                    <select class="form-control" id="tipusTransmissio" th:field="*{transmissio}" required>
                        <option value="">Selecciona un tipus de transmissió</option>
                        <option value="MANUAL">Manual</option>
                        <option value="AUTOMATIC">Automàtica</option>
                    </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="limitQuilometratge">Límit Quilometratge</label>
                    <input type="number" class="form-control" id="limitQuilometratge" placeholder="Límit quilometratge en km" min="1" th:field="*{limitQuilometratge}" required> 
                </div>              
                <div class="form-group col-md-6">
                    <label for="preuPerHoraLloguer">Preu / Hora de Lloguer (€) <span class="text-danger">*</span></label>
                    <input type="number" class="form-control" id="preuPerHoraLloguer" placeholder="Preu per hora en €" step="0.01" min="1" th:field="*{preuPerHoraLloguer}" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="minimHoresLloguer">Mínim Hores de Lloguer</label>
                    <input type="number" class="form-control" id="minimHoresLloguer" placeholder="Hores mínimes de lloguer" min="1" th:field="*{minimHoresLloguer}" required>
                </div>

                <div class="form-group col-md-6">
                    <label for="maximHoresLloguer">Màxim Hores de Lloguer</label>
                    <input type="number" class="form-control" id="maximHoresLloguer" placeholder="Hores màximes de lloguer" min="1" th:field="*{maximHoresLloguer}" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="fiancaStandard">Fiança estàndard (€)<span class="text-danger">*</span></label>
                    <input type="number" class="form-control" id="fiancaStandard" placeholder="Fiança en €" step="0.01" min="1" th:field="*{fiancaStandard}" required>
                </div>

                <div class="form-group col-md-6">
                    <label for="comentarisAgent">Comentaris per l'Agent</label>
                    <textarea class="form-control" id="comentarisAgent" rows="3" placeholder="Afegeix comentaris" th:field="*{comentarisAgent}"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="localitzacioDropdown" class="form-label">Assignar localització:</label>
                    <select id="localitzacioDropdown" th:field="*{localitzacio}" class="form-select" required>
                        <option value="" disabled selected>Selecciona una localització...</option>
                        <th:block th:each="localitzacio : ${localitzacions}">
                            <option th:value="${localitzacio.codiPostal}" th:text="${localitzacio.codiPostal}"
                                    th:selected="${localitzacio.codiPostal == vehicle.localitzacio?.codiPostal}">
                                
                            </option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Desa</button>
            </div>
        </form>


        <form th:action="@{/pujarImatge}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="image">Insertar imatge del vehicle</label>
                <input type="file" id="image" name="image" accept="image/*">
            </div>
            <button type="submit" class="btn btn-primary">Insertar Imatge</button>
        </form>
        
        <script>
            $(document).ready(function () {
                $('#localitzacioDropdown').select2({
                    placeholder: "Buscar per Codi Postal",
                    allowClear: true,
                    width: '100%'
                });
            });
        </script>
    </body>
</html>
