<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Llista de Clients</title>
</head>
<body>
    <h1>Llista de Clients</h1>

    <!-- Formulario de Búsqueda -->
    <form th:action="@{/clients}" method="get">
        <input type="text" name="filtro" th:value="${filtro}" placeholder="Busca por correo, DNI, apellidos o nacionalidad" />
        <button type="submit">Buscar</button>
    </form>

    <!-- Tabla de Resultados -->
    <table>
        <thead>
            <tr>
                <th>DNI</th>
                <th>Nom</th>
                <th>Cognoms</th>
                <th>Email</th>
                <th>Nacionalitat</th>
                <th>Telèfon</th>
                <th>Accions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="client : ${clients}">
                <td th:text="${client.dni}"></td>
                <td th:text="${client.nom}"></td>
                <td th:text="${client.cognoms}"></td>
                <td th:text="${client.email}"></td>
                <td th:text="${client.nacionalitat}"></td>
                <td th:text="${client.telefon}"></td>
                <td>
                    <a th:href="@{/clients/detall/{dni}(dni=${client.dni})}" class="btn btn-primary btn-sm">Mostrar més</a>
                </td>
            </tr>
        </tbody>
    </table>

    <a href="/clients/crear_client">Crear Client</a>
</body>
</html>
